<a href="https://colab.research.google.com/github/Virat77777/datascience/blob/main/Copy_of_copy_of_untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Movie Recommendation System**

To Develop a basic recommendation system by suggesting items that are most similar to a particular item,in this case,movies.It just tells what movie/items are most similar to the users movie choice,

**Import Library**

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

**Import dataset**

In [ ]:
df=pd.read_csv(r'https://github.com/YBI-Foundation/Dataset/raw/main/Movies%20Recommendation.csv')

In [ ]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

In [ ]:
df.shape

(4760, 21)

In [ ]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

**Get Feature Selection**

In [ ]:
df_feature =df[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director']].fillna('')

Selected five existing feature to recommend movies.It may vary from one project to another like one can add vote counts,budget,language etc.

In [ ]:
df_feature.shape

(4760, 5)

In [ ]:
df_feature

,Movie_Genre,Movie_Keywords,Movie_Tagline,Movie_Cast,Movie_Director
0,Crime Comedy,hotel new year's eve witch bet hotel room,Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,Allison Anders
1,Adventure Action Science Fiction,android galaxy hermit death star lightsaber,"A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,George Lucas
2,Animation Family,father son relationship harbor underwater fish...,"There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,Andrew Stanton
3,Comedy Drama Romance,vietnam veteran hippie mentally disabled runni...,"The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,Robert Zemeckis
4,Drama,male nudity female nudity adultery midlife cri...,Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,Sam Mendes
...,...,...,...,...,...
4755,Horror,,The hot spot where Satan's waitin'.,Lisa Hart Carroll Michael Des Barres Paul Drak...,Pece Dingo
4756,Comedy Family Drama,,It’s better to stand out than to fit in.,Roni Akurati Brighton Sharbino Jason Lee Anjul...,Frank Lotito
4757,Thriller Drama,christian film sex trafficking,She never knew it could happen to her...,Nicole Smolen Kim Baldwin Ariana Stephens Brys...,Jaco Booyens
4758,Family,,,,
4759,Documentary,music actors legendary perfomer classic hollyw...,,Tony Oppedisano,Simon Napier-Bell

In [ ]:
x = df_feature['Movie_Genre']+'''+df_feature['Movie_Keywords']+'''+df_feature['Movie_Tagline']+'''+df_feature['Movie_Cast']+'''+df_feature['Movie_Director']

In [ ]:
x

0       Crime Comedy+df_feature['Movie_Keywords']+Twel...
1       Adventure Action Science Fiction+df_feature['M...
2       Animation Family+df_feature['Movie_Keywords']+...
3       Comedy Drama Romance+df_feature['Movie_Keyword...
4       Drama+df_feature['Movie_Keywords']+Look closer...
                              ...
4755    Horror+df_feature['Movie_Keywords']+The hot sp...
4756    Comedy Family Drama+df_feature['Movie_Keywords...
4757    Thriller Drama+df_feature['Movie_Keywords']+Sh...
4758    Family+df_feature['Movie_Keywords']++df_featur...
4759    Documentary+df_feature['Movie_Keywords']++df_f...
Length: 4760, dtype: object

In [ ]:
x.shape

(4760,)

**Get Feature Text Conversion to Tokens**

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf =TfidfVectorizer()

In [ ]:
x = tfidf.fit_transform(x)

In [ ]:
x.shape

(4760, 6802)

In [ ]:
print(x)

  (0, 294)	0.21440965616288812
  (0, 249)	0.23036049341385428
  (0, 4143)	0.028503193789105204
  (0, 3603)	0.12282475727537646
  (0, 4374)	0.09086297056742591
  (0, 2009)	0.23036049341385428
  (0, 6728)	0.17199470747885054
  (0, 4261)	0.1468121098553146
  (0, 6607)	0.22400018952795622
  (0, 2278)	0.10977839517176287
  (0, 6587)	0.13563765825394922
  (0, 3209)	0.19084667659011026
  (0, 5976)	0.12768430683893156
  (0, 4404)	0.12046777927388957
  (0, 1540)	0.16402564597051753
  (0, 2224)	0.1536514702916209
  (0, 2885)	0.25151031240481037
  (0, 3038)	0.19692844350486255
  (0, 612)	0.25011740182572634
  (0, 3669)	0.2188034428627268
  (0, 4406)	0.10977839517176287
  (0, 292)	0.10590761752724699
  (0, 4978)	0.25011740182572634
  (0, 5254)	0.25011740182572634
  (0, 2311)	0.18748948389972725
  :	:
  (4757, 3131)	0.4420571086251523
  (4757, 1368)	0.30563501615439076
  (4757, 2723)	0.3342480643425877
  (4757, 5422)	0.2525810088928269
  (4757, 3401)	0.3609792587290649
  (4757, 2831)	0.2629511150165999
  (4757, 6023)	0.11746438760455613
  (4757, 6060)	0.15250309094700515
  (4757, 3119)	0.17629283821977637
  (4757, 4259)	0.22323139236113085
  (4757, 1798)	0.08715944205102744
  (4757, 4143)	0.05037650055941947
  (4757, 4144)	0.05037650055941947
  (4757, 1676)	0.10075300111883893
  (4758, 2105)	0.7869717032770994
  (4758, 4143)	0.2518847415787431
  (4758, 4144)	0.2518847415787431
  (4758, 1676)	0.5037694831574862
  (4759, 4211)	0.6116274839938715
  (4759, 611)	0.5350535319432598
  (4759, 5496)	0.4477351827223124
  (4759, 1750)	0.33168311779636656
  (4759, 4143)	0.06970061489430929
  (4759, 4144)	0.06970061489430929
  (4759, 1676)	0.13940122978861857

**Get Similarity Score using Cosine Similarity**

cosine_similarity computes the L2-normalized dot product of the vectors Eucilidate(L2)normalization projects the vector onto the unit sphere,and their dot product is then the cosine of the angle between the points deneoted by the vectors.

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
Similarity_score = cosine_similarity(x)

In [ ]:
Similarity_score

array([[1.        , 0.03751054, 0.08905886, ..., 0.00861535, 0.04307712,
        0.01192014],
       [0.03751054, 1.        , 0.03549011, ..., 0.01331821, 0.06659164,
        0.01842699],
       [0.08905886, 0.03549011, 1.        , ..., 0.01357543, 0.1783087 ,
        0.01878288],
       ...,
       [0.00861535, 0.01331821, 0.01357543, ..., 1.        , 0.07613443,
        0.02106764],
       [0.04307712, 0.06659164, 0.1783087 , ..., 0.07613443, 1.        ,
        0.10533913],
       [0.01192014, 0.01842699, 0.01878288, ..., 0.02106764, 0.10533913,
        1.        ]])

In [ ]:
Similarity_score.shape

(4760, 4760)

**Get Movie Name as Input from User and Validate for Closest Spelling**

In [ ]:
fovorite_Movie_Name = input('Enter your favourite movie name:')

Enter your favourite movie name:yy

In [ ]:
All_movies_Title_List = df['Movie_Title'].tolist()

In [ ]:
import difflib

In [ ]:
Movie_Recommendation = difflib.get_close_matches(fovorite_Movie_Name, All_movies_Title_List)
print(Movie_Recommendation)

[]

In [ ]:
Close_Match = Movie_Recommendation[0]
print(Close_Match)

IndexError: ignored

In [ ]:
Index_of_Close_Match_Movie = df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
print(Index_of_Close_Match_Movie)

In [ ]:
Recommendation_Score = list(enumerate(Similarity_score[Index_of_Close_Match_Movie]))
print(Recommendation_Score)

In [ ]:
len(Recommendation_Score)

**Get All Movie Sort Based on Recommendation Score wrt Favourite Movie**

In [ ]:
Sorted_Similar_Movies = sorted(Recommendation_Score,key = lambda  x:x[1], reverse = True)
print(Sorted_Similar_Movies)

In [ ]:
print('Top 30 Movies suggested for you;\n')
i =1
for movie in Sorted_Similar_Movies:
  index = movie[0]
  title_from_index=df[df.index == index]['Movie_Title'].values[0]
  if (i<31):
    print(i,'.',title_from_index)
    i+=1

In [ ]:
Movie_Name = input('Enter your favourite movie name:')
list_of_all_title = df['Movie_Title'].tolist()
Find_Close_Match = difflib.get_close_matches(Movie_Name,list_of_all_title)
Close_Match= Find_Close_Match[0]
Index_of_Movie =df[df.Movie_Title == Close_Match]['Movie_ID'].values[0]
Recommendation_Score=list(enumerate(Similarity_score[Index_of_Movie]))
sorted_similar_movie = sorted(Recommendation_Score,key=lambda x:x[1],reverse = True)
print('Top 10 Movie suggested for you :\n')

i=1
for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = df[df.Movie_ID ==index]['Movie_Title'].values
  if (i<11):
    print(i,'.',title_from_index)
    i+=1